<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.scss" />
    <link rel="stylesheet" href="/css/product.scss" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Orchids</a>
        <a href="/upload">Update Orchids</a>
    </div>

    <% arrOrchids.forEach(function(orchid, index) { %>
        <div class="container">
            <div class="product">
                <div class="product-left">
                    <div class="images" style="background-image: url(<%= orchid.image %>);">
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-top">
                        <p class="product-collection">Orchid Collection</p>
                        <h1 class="product-name">
                            <%= orchid.name %>
                        </h1>

                        <h1 class="product-price">$<%= orchid.price %>
                        </h1>
                        <div class="product-color">
                            <p class="pick-color">Available Colors:
                            </p>
                            <div class="colors">
                                <span style="color: <%= orchid.color %>;" class="material-symbols-outlined">
                                    radio_button_checked
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-bottom">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
</body>

</html>