.container {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    background-color: rgba(1,1,1,0.1);
    .product {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid red;
        border-radius: 1rem;
        background-color: rgba(249, 176, 241, 0.1);
        width: 80%;
        .product-left {
            width: 60%;
            .images {
                height: 20rem;
                width: 100%;
                border-radius: 1rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
            }
            
        }
        .product-right {
            width: 40%;
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .product-top {
                .product-collection {
                    color: #D9AAB7;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .product-name {
                    text-transform: uppercase;
                }
                .product-price {
                    color: #D9AAB7;
                }
                .product-color {
                    display: flex;
                    align-items: center;
                    padding: 0.1rem 0 0.1rem 0;
                    border-radius: 1rem;
                    .pick-color {
                        font-size: large;
                    }
                    .colors {
                        &:hover {
                          cursor: pointer;
                        }
                    }
                }
            }
            .product-bottom {
                button {
                    background-color: #D9AAB7;
                    border: none;
                    border-radius: 1rem;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
